<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <html> -->
  <head>
    <meta charset="utf-8">
    <title>SIGN UP</title>  
    <!-- Bootstrap css -->
 	<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">	
 	<!-- jquery -->
	<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>	
	<!-- Bootstrap js -->
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script> 
	<!-- daum 주소 API -->
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script>
		// 주소API 유효성 검사
		function execPostcode() {
			new daum.Postcode({
			    oncomplete: function(data) {
			        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
			
			        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
			        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			        var fullAddr = ''; // 최종 주소 변수
			        var extraAddr = ''; // 조합형 주소 변수
			
			        // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
			        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
			            fullAddr = data.roadAddress;
			
			        } else { // 사용자가 지번 주소를 선택했을 경우(J)
			            fullAddr = data.jibunAddress;
			        }
			
			        // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
			        if(data.userSelectedType === 'R'){
			            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
			            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
			            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
			                extraAddr += data.bname;
			            }
			            // 건물명이 있고, 공동주택일 경우 추가한다.
			            if(data.buildingName !== '' && data.apartment === 'Y'){
			                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
			            }
			            // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
			            fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
			        }
			
			        // 우편번호와 주소 정보를 해당 필드에 넣는다.
			        $('#postcode').val(data.zonecode); 	// 5자리 새우편번호 사용
			        $('#roadAddress').val(fullAddr);
			
			        // 커서를 상세주소 필드로 이동한다.
			        $('#detailAddress').focus();
			    }
			}).open();
		}
	
		// jQuery -> $로 씀. 여러 프레임 워크를 사용할시 풀네임 사용권장
		console.log("jQuery ready !");
		function validateForm() {	   	
		   	// 정규식을 변수에 할당
		   	// 변수 이름을 're_'로 정한 것은 'Regular Expression(정규식)'의 머릿글자
		   	var re_id = /^[a-z]+[a-z0-9]{3,19}$/;		// id 검사식
		   	var re_pw = /^(?=.*[a-zA-Z])((?=.*\d)(?=.*\W)).{8,12}$/;	// pw 검사식
		   	var re_name = /^[가-힣]{2,4}$/;		// name 검사식
		   	var re_email = /^[a-z0-9_+.-]+@([a-z0-9-]+\.)+[a-z0-9]{2,4}$/;		// email 검사식
		   	var re_juminNo = /^(?:[0-9]{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[1,2][0-9]|3[0,1]))-[1-4]{1}$/;	// 주민번호 검사식
		   	var re_PhoneNo = /(01[016789])([1-9]{1}[0-9]{2,3})([0-9]{4})$/;		// 전화번호 검사식
		   	
		   	// 선택할 요소를 변수에 할당
		   	// 변수에 할당하지 않으면 매번 HTML요소를 선택해야 하기 때문에 성능에도 좋지 않음
		   	var id = $('#id');
		   	var idHelper = $('#idHelper');
		   	var pw = $('#pw');
		   	var pwHelper = $('#pwHelper');
		   	var pw2 = $('#pw2');
		   	var pw2Helper = $('#pw2Helper');
		   	var name = $('#name');
		   	var nameHelper = $('#nameHelper');
		   	var email = $('#email');
		   	var emailHelper = $('#emailHelper');
		   	var juminNo = $('#juminNo');
		   	var juminNoHelper = $('#juminNoHelper');
		   	var PhoneNo = $('#PhoneNo');
		   	var PhoneNoHelper = $('#PhoneNoHelper');
		   	var postcode = $('#postcode');
		   	var roadAddress = $('#roadAddress');
		   	var detailAddress = $('#detailAddress');
		   	var AddressHelper = $('#AddressHelper');
		   	
		   	// 아이디 유효성 검사
			if(re_id.test(id.val()) != true || id.val() == "") {
				idHelper.text('유효한 아이디를 입력해 주세요.');
				id.focus();
				return false;
			} else {
				idHelper.text('');
			}
		
		 	// 비밀번호 유효성 검사
			if(re_pw.test(pw.val()) != true || pw.val() == "") {
				pwHelper.text('유효한 비밀번호를 입력해 주세요.');
				pw.focus();
				return false;
			} else {
				pwHelper.text('');
			}		
			
			// 비밀번호 확인 유효성 검사
			if(pw.val() != pw2.val()) {
				pw2Helper.text('비밀번호가 일치하지 않습니다.'); 
				pw2.focus();
				return false;
			} else {
				pw2Helper.text(''); 
			}
		
			// 이름 유효성 검사	
			if(re_name.test(name.val()) != true || name.val() == "") {
				nameHelper.text('유효한 이름을 입력해 주세요.');
				name.focus();
				return false;
			} else {
				nameHelper.text('');
			}	    		
				
			// 이메일 유효성 검사
			if(re_email.test(email.val()) != true || email.val() == "") {
				emailHelper.text('유효한 이메일 주소를 입력해 주세요.');
				email.focus();
				return false;			
			} else {
				emailHelper.text('');
			}
			
			// 주민등록번호 유효성 검사
			if(re_juminNo.test(juminNo.val()) != true || juminNo.val() == "") {
				juminNoHelper.text('유효한 주민등록번호를 입력해 주세요.');
				juminNo.focus();
				return false;
			} else {
				juminNoHelper.text('');
			}
			
			// 주소 유효성 검사
			if((postcode.val() == "") && (roadAddress.val() == "")) {
				AddressHelper.text('유효한 주소를 입력해 주세요.');
				postcode.focus();
				return false;
			} else if(detailAddress.val() == "") {
				AddressHelper.text('유효한 주소를 입력해 주세요.');
				detailAddress.focus();
				return false;
			} else {
				AddressHelper.text('');
			}
		
			// 전화번호 유효성 검사
			if(re_PhoneNo.test(PhoneNo.val()) != true || PhoneNo.val() == "") {
				PhoneNoHelper.text('유효한 전화번호를 입력해 주세요.');
				PhoneNo.focus();
				return false;
			} else {
				PhoneNoHelper.text('')
			}		
		
		   	return true;
		  };

	</script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>
				회원가입 <small>Sign up</small>
			</h1>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<form onsubmit="return validateForm();" id="form" action="#" method="post">
				<div class="form-group">
					<label for="InputId">아이디</label>
					<input type="text" class="form-control" id="id" name="consumerIdPk" maxlength="12" placeholder="4자 이상 20자 이하로 입력" value="abcabc123">
					<button type="button" class="btn btn-default" id="idCheck">
						<a href="#" method="post">중복확인</a>
					</button>

					<span id="idHelper" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="InputPassword1">비밀번호</label>
					<input type="password" class="form-control" id="pw" name="consumerPassword" maxlength="12" placeholder="영문,숫자,특수문자를 조합하여 8자 이상 12자 이하로 입력" value="ioio789*">
					<span id="pwHelper" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="InputPassword2">비밀번호 확인</label>
					<input type="password" class="form-control" id="pw2" maxlength="12" placeholder="비밀번호 확인" value="ioio789*">
					<span id="pw2Helper" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="username">이름</label>
					<input type="text" class="form-control" id="name" name="consumerName" maxlength="4" placeholder="이름을 입력해 주세요" value="김전주">
					<span id="nameHelper" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="InputEmail">이메일 주소</label>
					<input type="email" class="form-control" id="email" name="consumerEmail" placeholder="(@)를 포함하여 이메일 주소를 입력해 주세요" value="abcabc123@gift.com">
					<span id="emailHelper" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="InputEmail">주민등록번호</label>
					<input type="text" class="form-control" id="juminNo" name="consumerJuminNo" maxlength="8" placeholder="주민등록번호를 입력해 주세요" value="891212-2">
					<span id="juminNoHelper" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="InputEmail">주소</label><br>
					<!-- VO에 주소 분기 시켜 넣어야겠다. 서비스 계층에서 얘네 합쳐서 맵퍼 호출해야지 -->
					<input type="text" class="form-control" style="width: 40%; display: inline;" id="postcode" name="postcode" placeholder="우편번호" readonly>
					<input type="button" class="btn btn-default" onclick="execPostcode();" value="우편번호 찾기"><br>
					<input type="text" class="form-control" style="top: 5px;" id="roadAddress" name="roadAddress" placeholder="도로명주소" readonly>
					<input type="text" class="form-control" id="detailAddress" name="detailAddress" placeholder="상세주소를 입력해 주세요">
					<span id="AddressHelper" class="text-danger"></span>			
				</div>
				<div class="form-group">
					<label for="InputEmail">전화 번호</label>
					<input type="text" class="form-control" id="PhoneNo" name="consumerPhone" maxlength="11" placeholder="(-)없이 전화 번호를 입력해 주세요" value="01012345678">
					<span id="PhoneNoHelper" class="text-danger"></span>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-info" id="join-submit">
						회원가입
					</button>
					<button type="button" class="btn btn-warning">
						가입취소
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>