<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="mypage-content-password">
    <h2>비밀번호 변경</h2>
    <div class="mypage-content-form">
        <form>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">ID</span>
                </div>
                <p class="form-control">consumer01</p>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">현재 비밀번호</span>
                </div>
                <input type="password" class="form-control">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">새로운 비밀번호</span>
                </div>
                <input type="password" class="form-control">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">비밀번호 확인</span>
                </div>
                <input type="password" class="form-control">
            </div>
            <button class="btn" type="button">확인</button>
        </form>
    </div> 
</div>
	
</html>