<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:fragment="fragment-side-menu">
	<div class="col-md-3 side-nav">
       <ul class="nav nav-tabs flex-column">
       	   <li class="nav-item">
             <a class="nav-link a1 active" href="#wallet-tab-property">자산현황</a>
           </li>
	       <li class="nav-item">
             <a class="nav-link a2" href="#wallet-tab-history">체결내역</a>
           </li>
           <li class="nav-item">
             <a class="nav-link a3" href="#wallet-tab-input">입금</a>
           </li>
           <li class="nav-item">
             <a class="nav-link a4" href="#wallet-tab-output">출금</a>
           </li>
       </ul>
   </div>
</th:block>


</html>