<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<div th:fragment="mypage-content-log-data">
	<h2>접속정보</h2>
	<table class="log-data-table">
	    <thead>
	        <th>위치</th>
	        <th>기종</th>
	        <th>브라우저</th>
	        <th>서비스 이용</th>
	        <th>아이피</th>
	        <th>일시</th>
	        <th>결과</th>
	    </thead>
	    <tbody>
	        <td>Korea, Republic of</td>
	        <td>Unknown Windows OS</td>
	        <td>Chrome 70.0.3538.110</td>
	        <td>로그인</td>
	        <td>39.114.67.115	</td>
	        <td>2018-12-16 15:37:07</td>
	        <td>성공</td>
	    </tbody>
	</table>
</div>

</html>