<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<div layout:fragment="css">
	<style type="text/css">
		.tab-content{
            background-color: #fff;
        }
	</style>
</div>
<div layout:fragment="script">
	<script type="text/javascript">
		$(document).ready(function(){
			/* side menu */
        	$(".nav-tabs a").click(function(e){
                $(this).tab('show');
                e.preventDefault();
            });
	    });
	</script>
</div>
<th:block layout:fragment="content">
	<div class="container mypage">
        <div class="row">
            <div class="col-md-3 side-nav">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#wallet-tab-property">자산현황</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#wallet-tab-input">입금</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#wallet-tab-output">출금</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#wallet-tab-history">체결내역</a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-md-9">
                <div class="mypage-content tab-content">
                    <!-- 자산 현황 -->
                    <div id="wallet-tab-property" class="tab-pane active">
                        <h2>자산 현황</h2>
                    </div>
                    <!-- 입금 -->
                    <div id="wallet-tab-input" class="tab-pane">
                        <h2>입금</h2>
                    </div>
                    <!-- 출금 -->
                    <div id="wallet-tab-output" class="tab-pane">
                        <h2>출금</h2>
                    </div>
                    <!-- 체결내역 -->
                    <div id="wallet-tab-history" class="tab-pane">
                        <div class="sub-sub-content">
                            <h2>체결내역</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>