<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
	<style type="text/css">
		.tab-content{
            background-color: #fff;
        }
	</style>
</th:block>
<th:block layout:fragment="script">
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			/* side menu */
        	
        	$(".nav-tabs a.a1").click(function(e){
				$(this).tab('show');
				e.preventDefault();
			});
			$(".nav-tabs a.a2").click(function(e){
				$(this).tab('show');
				$("#wallet-tab-history").load('/consumer/get/sign/detail');
				e.preventDefault();
			});
			$(".dropdown-menu a.a2").click(function(e){
				$("#wallet-tab-history").load('/consumer/get/sign/detail');
				e.preventDefault();
			});
        	$(".nav-tabs a.a3").click(function(e){
				$(this).tab('show');
				e.preventDefault();
			});
        	$(".nav-tabs a.a4").click(function(e){
				$(this).tab('show');
				e.preventDefault();
			});
	    });
	</script>
	
</th:block>
<th:block layout:fragment="content">
	<div class="container mypage">
        <div class="row">
            <th:block th:replace="member/consumer/fragmentSideMenu :: fragment-side-menu">
            </th:block>
            <div class="col-md-9">
                <div class="mypage-content tab-content">
                  	<!-- 자산 현황 -->
                    <div id="wallet-tab-property" class="tab-pane active">
                        <h2>자산 현황</h2>
                    </div>
                	<!-- 체결내역 -->
                    <div id="wallet-tab-history" class="tab-pane">
                        <div th:replace="member/consumer/getSignDetail :: mypage-content-member-remove">
                		</div>
                    </div>
                    <!-- 입금 -->
                    <div id="wallet-tab-input" class="tab-pane">
                        <h2>입금</h2>
                    </div>
                    <!-- 출금 -->
                    <div id="wallet-tab-output" class="tab-pane">
                        <h2>출금</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>