<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="mypage-content-member-remove">
	<script>
	/* 날짜별 검색결과 가져오기 */
	function searchCheck(){
		console.log('날짜별 데이터 가져오기');
		
		/* 검색버튼 누를 때 처음 리스트를 숨김 */
		$('#firstList').hide();
		/* 클릭을 할 때마다 테이블에 데이터가 쌓이지 않게 함 */
		/* :gt(index) 주어진 인덱스보다 높은 인덱스를 갖는 모든 요소와 일치
			tr:gt(0)는 문서에 존재하는 모든 tr 중 그 인덱스가 0 이상인 모든 열들을 선택 */
		$("#signList").find("tr:gt(0)").remove();
		
   		var startDate = $('#startDate').val();
   		var endDate = $('#endDate').val();
   		console.log(startDate + '<-----startDate');
   		console.log(endDate + '<-----endDate');
     	$.ajax({
    		async : false,
    		url : '/consumer/get/search/list',
    		type : 'POST',
    		data : JSON.stringify({'startDate': startDate, 'endDate': endDate}),
    		contentType: "application/json; charset=UTF-8",
    		success : function(data){
    			console.log('data 받아오기 성공');
    			console.log(data);

    			$.each(data, function () {
    				$('#signList').append("<tr><td>" + this.signPk 
						+ "</td><td>" + this.fkOrderBuySign
						+ "</td><td>" + this.fkSellerSign 
						+ "</td><td>" + this.signSellerName 
						+ "</td><td>" + this.signPerPrice 
						+ "</td><td>" + this.signAmount 
						+ "</td><td>" + this.signTotalPrice 
						+ "</td><td>" + this.signInitialMargin 
						+ "</td><td>" + this.signDate 
						+ "</td><td>" + this.signFuturesTradeBeginDate
						+ "</td><td>" + this.signFuturesTradeEndDate
						+ "</td></tr>");
    			});
    		},
    		error: function(error) {					
				console.log("error: "+error);
			}
    	});
	}
	</script>
	<h2>체결내역</h2>
	<div class="sub-sub-content">
		<!-- 검색 창 -->
		<div class="gift-search">
			<div class="gift-search-date">
				<span>기간</span>
					<input type="date" name="startDate" id="startDate">
				<span>~</span>
					<input type="date" name="endDate" id="endDate">
				<button type="button" class="btn" onclick="searchCheck()">검색</button>
			</div>
			<div class="gift-search-date-btn">
				<button type="button" class="btn">7일</button>
				<button type="button" class="btn">30일</button>
				<button type="button" class="btn">90일</button>
				<button type="button" class="btn">180일</button>
			</div>
			<div class="gift-search-goods">
				<select>
					<option>전체</option>
					<option>마늘</option>
					<option>고구마</option>
					<option>배추</option>
				</select>
				<select>
					<option>전체</option>
					<option>지정가</option>
					<option>시장가</option>
				</select>
			</div>
		</div>
		
		<table class="table gift-table">
			<thead id="signList">
				<tr>
					<th>체결번호</th>
					<th>매수주문번호</th>
					<th>판매자아이디</th>
					<th>판매자이름</th>
					<th>가격(1계약)</th>
					<th>수량</th>
					<th>전체체결가</th>
					<th>체결증거금</th>
					<th>체결날짜</th>
					<th>선물거래시작일</th>
					<th>선물거래만기일</th>
				</tr>
			</thead>
			<tbody id="firstList">
				<tr th:each="list : ${signDetail}">
					<td th:text="${list.signPk}"></td>
					<td th:text="${list.fkOrderBuySign}"></td>
					<td th:text="${list.fkSellerSign}"></td>
					<td th:text="${list.signSellerName}"></td>
					<td th:text="${list.signPerPrice}"></td>
					<td th:text="${list.signAmount}"></td>
					<td th:text="${list.signTotalPrice}"></td>
					<td th:text="${list.signInitialMargin}"></td>
					<td th:text="${list.signDate}"></td>
					<td th:text="${list.signFuturesTradeBeginDate}"></td>
					<td th:text="${list.signFuturesTradeEndDate}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr></tr>
			</tfoot>
		</table>
		</div>
</div>
</html>