<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
	
<th:block layout:fragment="css">

	<style type="text/css">
		.basic {
			margin-top: 100px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.main-box{
			text-align: left;
			width: 700px;
		}
		.main-box h1{
			text-align: center;
			margin-bottom: 50px;
		}
		.title{
			border-bottom: solid 1px gray;
			padding-bottom: 15px
		}
		
		label{
			padding-left: 10px;
		}
		#mask { 
			position:absolute; 
			z-index:9000; 
			background-color:#000; 
			display:none; 
			left:0; 
			top:0; 
		} 
		.popup-style {
			background-color: #ff510c; 
			width: 500px; 
			height: 350px; 
			position: absolute; 
			top:500px; 
			left: 500px; 
			display: none;
			z-index:100;
			border-radius: 80px / 40px;
			}
								


		}
	</style>
</th:block>
<th:block layout:fragment="script">	

	<script type="text/javascript">
	//계좌 체크여부 확인 (유효하지 않을때 = 0 , 유효할 때 = 1 )
	var accountCheck = 0;
	/* 
	 */

	$(function() {
	    //accountCheck 버튼을 클릭했을 때 

	    $("#accountCheck").click(function() {
			var sellerId = $("#sellerId").val(); 
	   		var sellerName = $("#sellerName").val(); 
	    	var sellerBirth = $("#sellerBirth").val(); 
	    	var userAccountBank = $("#accountBank").val(); 
	    	var userAccountNo =  $("#accountNo").val(); 
	    	var accountHelper = $('#accountHelper')
	    	var buttonChecker = $('#accountCheck')
	    	console.log(sellerId);
	    	console.log(sellerName);
	    	console.log(sellerBirth);
	    	console.log(userAccountBank);
	    		
	        $.ajax({
	        	
	            type : "POST",
	            data : JSON.stringify({"sellerId" : sellerId, "sellerName" : sellerName, "sellerBirth" : sellerBirth
		    		,"userAccountBank" : userAccountBank ,"userAccountNo" : userAccountNo} ),
	            dataType : "json",
	            url : "/ajaxAccountCheck",
	            contentType: "application/json; charset=UTF-8",
	            success : function(data) {
	                if (data > 0) {
	                	//$('#checkMessage').html("<p style="COLOR: blue">유효하지 않는 계좌입니다.</p>");
	                    //계좌 불가의 경우 빨깡으로 , 아니면 파랑으로 처리하는 디자인
	                    
	                    $("#accountNo").css("background-color", "#FF4136");
	                    $("#accountNo").removeClass("has-success")
	                    accountHelper.text('계좌를 조회할 수 없습니다.');
	                    $("#accountNo").focus();
	                    
	                
	                } else {
	                	 //$('#checkMessage').html("<p style="COLOR: blue">사용가능한 계좌입니다</p>");
	                    //계좌 불가일경우  빨강으로, 아니면 파랑으로 처리하는 디자인
	                    $("#accountNo").css("background-color", "#B0F6AC");
	                    $("#accountNo").removeClass("has-error")
	                    accountHelper.text('사용 가능한 계좌입니다.');
	                    //계좌가 유효할 경우
	                    accountCheck = 1;
	               
	                }
	                if($("#buttonChecker") == 1){
	                    $("#accountCheck").hide();
	              } else {
	                    $("#accountCheck").show();
	              }
	            },
	            error : function(error) {
	                alert("error : " + error);
	            }
	        });
	    });
	});
	
	</script>
		<script> 

	function wrapWindowByMask(){
		//화면의 높이와 너비를 구한다.
		var maskHeight = $(document).height();  
		var maskWidth = $(window).width();
		//마스크의 높이와 너비를 화면 것으로 만들어 전체 화면을 채운다.
		$('#mask').css({'width':maskWidth,'height':maskHeight});  
    	//마스크의 투명도 처리
          $('#mask').fadeTo("slow",0.8);    
		}
		$(document).ready(function(){
		//wrapWindowByMask();
		//불투명 배경 띄우기
		$('.openMask').click(function(e){
			e.preventDefault();
			wrapWindowByMask();
		});
	});

// 팝업 , 불투명 배경 띄우기
	function clickpop(){
		$('#popup').show();
		wrapWindowByMask();
	}
	function btnexit(){
		$('#popup').hide();
		$('#mask').hide();
	}
	</script>
	
</th:block>

	<div layout:fragment="content">
		<div class="container main-box">
			<div class="page-header">
				<h1 class="title">
					판매자 세부 정보 입력 <small>Input seller details</small>
				</h1>
			</div>
			
			<div>
				<form name="fileForm" action="/signup/addseller/detail/re" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="hidden" class="form-control" id="sellerId" name="sellerId" th:value="${sessionLogin.sessionId}">
					</div>
					<div class="form-group">
						<label for="sellerName">판매자 이름</label>
						 <input type="text" class="form-control" id="sellerName" name="sellerName">
					</div>
					<div class="form-group">
						<label for="sellerBirth">생년월일</label>
						 <input type="text" class="form-control" id="sellerBirth" name="sellerBirth">
					</div>
					<div class="form-group">
						<label for="accountNo">계좌 번호</label> 
						<select name="accountBank" id="accountBank">
							<option value="국민은행">국민은행</option>
							<option value="신한">신한은행</option>
							<option value="우리 ">우리은행</option>
							<option value="KEB하나은행">KEB하나은행</option>
							<option value="한국씨티은행">한국씨티은행</option>
							<option value="한국스탠다드차타드은행">한국스탠다드차타드은행</option>
							<option value="카카오뱅크">카카오뱅크</option>
							<option value="농협">농협</option>
							<option value="기업은행 ">기업은행</option>
						</select>
						 <input type="text" class="form-control" id="accountNo" name="accountNo">
						<span id="accountHelper"></span>
						<div>
						<input type="button" class="btn btn-success" id="accountCheck" value="계좌확인">	
						</div> <br>
						<div class="border border-secondary">
							<label for="license" class="font-weight-bold">사업자등록증</label>
							<div class="text-center" id="fileDiv">
								<p>
									<input multiple="multiple" type="file" name="multipartFile" /> 

								</p>
							</div>
							<label for="bankCopy" class="font-weight-bold">대표자통장사본</label>
							<div class="text-center" id="fileDiv">
								<p>
									<input multiple="multiple" type="file" name="multipartFile" /> 

								</p>
							</div>
							<label for="certification" class="font-weight-bold">개인인감증명서(또는 본인서명사실확인서)</label>
							<div class="text-center" id="fileDiv">
								<p>
									<input multiple="multiple" type="file" name="multipartFile" />
	
								</p>
							</div>
							<label for="communiSales" class="font-weight-bold">통신판매업 신고증</label>
							<div class="text-center" id="fileDiv">
								<p>
									<input multiple="multiple" type="file" name="multipartFile" />

								</p>
							</div>
							<label for="productGrade" class="font-weight-bold">상품등급확인서</label>
							<div class="text-center" id="fileDiv">
								<p>
									<input multiple="multiple" type="file" name="multipartFile" />

								</p>
							</div>
						</div>
						
						
							<input type="button" onclick="clickpop();" class="btn btn-info" value="추가 정보 제출" />
							<div id="mask">
							<div class="popup-style" id="popup"> 
								<br><br><br>
									<p>진짜 제출 할거예요? <br>
									 한번 제출하면 검사가 끝날때까지 수정이 불가능 합니다.</p>
									<h3> 확장자는 jpg, png 만 가능합니다. </h3>
								<div class="form-group text-center">
									<button type="submit" class="btn btn-info">
										네 제출할게요!^__^<i class="fa fa-check spaceLeft"></i>
									</button>
									<input type="button" onclick="btnexit();" value="ㅠ3ㅠ 헐? 뒤로갈래요!" class="btn btn-warning" /> 
								</div>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</html>