<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="mypage-content-information">
	<!-- daum 주소 API -->
	<script type="text/javascript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script type="text/javascript">
		/* 주소API 유효성 검사 */
		function execPostcode() {
			new daum.Postcode({
			    oncomplete: function(data) {
			        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
			
			        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
			        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			        var fullAddr = ''; // 최종 주소 변수
			        var extraAddr = ''; // 조합형 주소 변수
			
			        // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
			        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
			            fullAddr = data.roadAddress;
			
			        } else { // 사용자가 지번 주소를 선택했을 경우(J)
			            fullAddr = data.jibunAddress;
			        }
			
			        // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
			        if(data.userSelectedType === 'R'){
			            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
			            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
			            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
			                extraAddr += data.bname;
			            }
			            // 건물명이 있고, 공동주택일 경우 추가한다.
			            if(data.buildingName !== '' && data.apartment === 'Y'){
			                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
			            }
			            // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
			            fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
			        }
			
			        // 우편번호와 주소 정보를 해당 필드에 넣는다.
			        $('#postcode').val(data.zonecode); 	// 5자리 새우편번호 사용
			        $('#roadAddress').val(fullAddr);
			
			        // 커서를 상세주소 필드로 이동한다.
			        $('#detailAddress').focus();
			    }
			}).open();
		}
	</script>
	
    <h2>회원정보 수정</h2>
    <p>본인 확인을 위해 아이디와 비밀번호를 입력해 주세요 </p>
    <th:block th:if="${sellerMypageInformation} == null ">
    	<div class="mypage-content-form">
	        <form th:action="@{/seller/mypage/information}" method="post">
	            <div class="input-group">
	                <div class="input-group-prepend">
	                  <span class="input-group-text">ID</span>
	                </div>
	                <input type="text" name="mypageId" class="form-control" >
	         
	            </div>
	            <div class="input-group">
	                <div class="input-group-prepend">
	                  <span class="input-group-text">PASSWORD</span>
	                </div>
	                <input type="password" name="mypagePw" class="form-control">
	            </div>
	            <button class="btn" type="submit">확인</button>
	        </form>
	    </div>
    </th:block>
    <th:block th:if="${sellerMypageInformation} != null ">
    	<div>
    		<form th:action="@{/seller/mypage/information/modify}" method="post" >
				<div class="form-group">
					<label for="InputId">아이디</label>
					<input type="text" class="form-control" id="id" name="sellerIdPk" th:value="${sellerMypageInformation.sellerIdPk}" readonly>
				</div>
				<div class="form-group">
					<label for="username">이름</label>
					<input type="text" class="form-control" id="name" name="sellerName" th:value="${sellerMypageInformation.sellerName}" readonly>
				</div>
				<div class="form-group">
					<label for="InputEmail">이메일 주소</label>
					<input type="email" class="form-control" id="email" name="sellerEmail" placeholder="(@)를 포함하여 이메일 주소를 입력해 주세요" th:value="${sellerMypageInformation.sellerEmail}">
					<span id="emailHelper" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="InputEmail">주민등록번호</label>
					<input type="text" class="form-control" id="juminNo" name="sellerJuminNo" th:value="${sellerMypageInformation.sellerJuminNo}" readonly>
				</div>
				<div class="form-group">
					<label for="InputEmail">주소</label><br>
					<!-- VO에 주소 분기 시켜 넣기 -->
					<input type="text" class="form-control" id="postcode" name="sellerAddressPostCode" placeholder="우편번호" th:value="${sellerMypageInformation.sellerAddressPostCode}" readonly>
					<input type="button" class="btn btn-default" onclick="execPostcode();" value="우편번호 찾기"><br>
					<input type="text" class="form-control" id="roadAddress" name="sellerAddressRoad" placeholder="도로명주소" th:value="${sellerMypageInformation.sellerAddressRoad}" readonly>
					<input type="text" class="form-control" id="detailAddress" name="sellerAddressDetail" placeholder="상세주소를 입력해 주세요" th:value="${sellerMypageInformation.sellerAddressDetail}">
					<span id="AddressHelper" class="text-danger"></span>			
				</div>
				<div class="form-group">
					<label for="InputEmail">전화 번호</label>
					<input type="text" class="form-control" id="PhoneNo" name="sellerPhone" maxlength="11" placeholder="(-)없이 전화 번호를 입력해 주세요" th:value="${sellerMypageInformation.sellerPhone}">
					<span id="PhoneNoHelper" class="text-danger"></span>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-info" id="join-submit">
						수정완료
					</button>
					<button type="button" class="btn btn-warning">
						취소
					</button>
				</div>
			</form>
    	</div>
    </th:block>
</div>

</html>