<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
	<style>
		.tab-content{
			background-color: #fff;
		}
	</style>
</th:block>
<th:block layout:fragment="script">
	<script type="text/javascript">
        $(document).ready(function(){
           
        	/* side menu */
        	$(".nav-tabs a").click(function(e){
                $(this).tab('show');
                e.preventDefault();
            });
            
        	/* 회원탈퇴 안내, 과정 */
            $(".member-remove-text-btn").click(function(e){
                $('.member-remove-bank').toggle();
                $('.member-remove-text').hide();
                $('.guide-btn1').removeClass('active');
                $('.guide-btn2').addClass('active');
                e.preventDefault();
            });
            $(".member-remove-bank-btn").click(function(e){
                $('.member-remove-ready').toggle();
                $('.member-remove-bank').hide();
                $('.guide-btn2').removeClass('active');
                $('.guide-btn3').addClass('active');
                e.preventDefault();
            });
            $(".member-remove-ready-btn").click(function(e){
                $('.member-remove-complete').toggle();
                $('.member-remove-ready').hide();
                $('.guide-btn3').removeClass('active');
                $('.guide-btn4').addClass('active');
                e.preventDefault();
            });
        });
    </script>
</th:block>

<div layout:fragment="content">
	<div class="container mypage">
        <div class="row">
        	<!-- mypage side nav -->
            <div class="col-md-3 mypage-nav">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#mypage-content-information">회원정보 수정</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#mypage-content-password">비밀번호 변경</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#mypage-content-log-data">접속정보</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#mypage-content-member-remove">회원탈퇴</a>
                    </li>
                </ul>
            </div>
            <!-- mypage content -->
            <div class="col-md-9">
                <div class="mypage-content tab-content">
                	<!-- 회원정보 수정 폼 -->
                    <div id="mypage-content-information" class="tab-pane active">
                        <div th:replace="member/seller/fragmentMemberSellerMypageInformation :: mypage-content-information">
                		</div>
                    </div>
                    <!-- 비밀번호 수정 폼 -->
                    <div id="mypage-content-password" class="tab-pane">
                        <div th:replace="member/seller/fragmentMemberSellerMypagePassword :: mypage-content-password">
                		</div>
                    </div>
                    <!-- 로그데이터 -->
                    <div id="mypage-content-log-data" class="tab-pane">
                        <div th:replace="member/seller/fragmentMemberSellerMypagelogData :: mypage-content-log-data">
                		</div>
                    </div>
                    <!-- 회원탈퇴 -->
                    <div id="mypage-content-member-remove" class="tab-pane">
                        <div th:replace="member/seller/fragmentMemberSellerMypageRemove :: mypage-content-member-remove">
                		</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>