<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gift.futurestrading.member.mapper.SellerMapper">
	<select id="selectIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM view_total_id WHERE total_id = #{id};
	</select>
	<select id="selectAccountCheck" parameterType="map" resultType="com.gift.futurestrading.member.vo.AccountCheckResultVo">
		SELECT contract_bank_user_account_no ,contract_bank_user_account_status  
		FROM contract_bank_user 
		WHERE contract_bank_name=#{contract_bank_name} and 
		contract_bank_user_name=#{contract_bank_user_name} and
		contract_bank_user_birth=#{contract_bank_user_birth} and 
		contract_bank_user_account_no=#{contract_bank_user_account_no}
	</select>
	<insert id="insertSellerFile" parameterType="map">
		INSERT 
			INTO document_seller
				(document_seller_no_pk,
				fk_seller__document_seller,
				document_seller_name,
				document_seller_path,
				document_seller_path_folder,
				document_seller_license,
				document_seller_bank_copy,
				document_seller_certificate,
				document_seller_communication_sales,
				document_seller_product_grade,
				document_seller_date
				) 
			VALUES(#{document_seller_no_pk},
				#{fk_seller__document_seller},
				#{document_seller_name},
				#{document_seller_path},
				#{document_seller_path_folder},
				#{document_seller_license},
				#{document_seller_bank_copy},
				#{document_seller_certificate},
				#{document_seller_communication_sales},
				#{document_seller_product_grade},
				now());
	</insert>
	
		<insert id="insertSeller" parameterType="map">
		INSERT 
			INTO seller
				(seller_id_pk,
				seller_password,
				seller_name,
				seller_email,
				seller_jumin_no,
				seller_sign_up_date,
				seller_address,
				seller_corporate_name,
				seller_phone,
				seller_right
				) 
			VALUES(#{seller_id_pk},
				PASSWORD(#{seller_password}),
				#{seller_name},
				#{seller_email},
				#{seller_jumin_no},
				now(),
				#{seller_address},
				#{seller_corporate_name},
				#{seller_phone},
				'인증안됨');
	</insert>
	<select id="selectOneAutoMax" parameterType="String" resultType="int">
		select max(CAST(substring(document_seller_no_pk,17) AS DECIMAL)) from document_seller
	</select>
</mapper>

