<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<th:block layout:fragment="script">
	<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#topAdminPw').focus();
				$('#topAdminPw').blur(function(){
				if($('#topAdminPw').val().length < 1) {
					$('#pwHelper').text('비밀번호를 입력해주세요');
					$('#topAdminPw').focus();
				} else {
					$('#pwHelper').text('');
				}
			});
			$('#submitBtn').click(function() {
				var topAdminPw = $('#topAdminPw').val();
				var submitHelper = $('#submitHelper');
		    	$.ajax({
		    		async : false,
		    		url : '/checkTopAdminPw',
		    		type : 'POST',
		    		data : topAdminPw,
		    		dataType : false,
		    		contentType: "application/json; charset=UTF-8",
		    		success : function(data){
		    			if(data != null){
		    				console.log('data 받아오기 성공');
							console.log(data + '<---topAdminPw');
		    			} else {
		    				console.log('data 받아오기 실패는 아닌데 아무튼 아님');
		    			}
	 			 		if(data != '일치') {		// 비밀번호 불일치
	 						submitHelper.text('비밀번호가 일치하지 않습니다');
	 						event.preventDefault();
							$('#topAdminPw').focus();
						} else if(data == '일치') {		// 비밀번호 일치
							$('#topAdminPwForm').submit();
						}
		    		},
		    		error: function(error) {					
						console.log("error: "+error);
					}
		    	});
			});
		});
	</script>
</th:block>	
<th:block layout:fragment="css">
	<style type="text/css">
		#topAdminPwForm{
			width: 300px;
			margin: auto;
		}
		.main-box h1{
			text-align: center;
			margin-bottom: 50px;
		}
		.buttons{
			text-align: center;
		}
	</style>
</th:block>

	<div layout:fragment="content" class="main-box container">
		<h1>최고관리자 비밀번호 확인</h1>
		<form action="/topAdmin/checkTopAdmin" id="topAdminPwForm" method="post">
			<div th:each=adminId:${getAdminId}>
				<div>
					<input type="text" name="topAdminPw" id="topAdminPw" class="form-control"><p>
					<span id="pwHelper" class="text-danger"></span>
					<input type="hidden" name="adminId" th:value="${adminId}">
				</div>
			</div>
			<div class="buttons">
				<a th:href="@{/topAdmin/listAdmin}">
					<button type="button" class="btn">리스트</button>
				</a>
				<button type="button" id="submitBtn" class="btn">삭제</button><p>
				<span id="submitHelper" class="text-danger"></span>
			</div>
		</form>
	</div>
</html>