<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>checkTopAdmin</title>
</head>
<body>
	<h1>checkTopAdmin</h1>
	<a href="/topAdmin/listAdmin">관리자 리스트</a>
		<form action="/topAdmin/checkTopAdmin" method="post">
			<table border="1" th:each=adminId:${getAdminId}>
				<tr>
					<th>topAdminPw</th>
				</tr>
				<tr>
					<td><input type="text" name="topAdminPw"></td>
						<input type="hidden" name="adminId" th:value="${adminId}">
				</tr>
			</table>
			<button type="submit" id="submitBtn">삭제</button>
		</form>
</body>
</html>