<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">

<th:block layout:fragment="css">
	<style type="text/css">
		.list{
			width: 800px;
			margin: auto;
			text-align: center;
		}
		h1{
			text-align: center;
		}
		.insertBtn{
			text-align: center;
		}
	</style>
	
	<div class="main-box container">
		<h1>관리자 목록</h1>
		<table class="table list">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>권한</th>
				<th>등록날짜</th>
			</tr>
			<tr th:each="list : ${adminList}">
				<td><a th:text="${list.adminId}" th:href="@{/topAdmin/modifyAdminForm(adminId=${list.adminId})}" class="text-primary"></a></td>
				<td th:text="${list.adminName}"></td>
				<td th:text="${list.adminRight}"></td>
				<td th:text="${list.adminRegisterDate}"></td>
			</tr>
		</table>
		<div class="insertBtn">
			<a th:href="@{/topAdmin/addAdminForm}">
				<button type="button" class="btn">관리자 등록</button>
			</a>
		</div>
	</div>
</html>