<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
	<style>
		.tab-content{
			background-color: #fff;
		}
	</style>
</th:block>
<th:block layout:fragment="script">
	<!-- Highcharts -->
	<script type="text/javascript" src="/webjars/highcharts/6.2.0/highstock.js"></script>
	<script type="text/javascript">
        $(document).ready(function(){
            $(".nav-tabs a").click(function(e){
                $(this).tab('show');
                e.preventDefault();
            });
         // select
         $("#tab-select").change(function() {
             var target = $(this).val();
             $('.tab-contents').hide();
             $(target).show();
         });
         /* highchart */
         $.getJSON('/data_json/daily_chart.json', function (data) {
        	    // Create the chart
        	    Highcharts.stockChart('dailychart', {
      	        
        	        rangeSelector: {
        	            selected: 1
        	        },

        	        navigator: {
        	            enabled: false
        	        },

        	        series: [{
        	            name: 'AAPL Stock Price',
        	            data: data,
        	            tooltip: {
        	                valueDecimals: 2
        	            }
        	        }],
        	        rangeSelector:{
        	        	inputEnabled: false,
        	        	enabled: false,
        	            allButtonsEnabled: true,
        	            buttonTheme: {
        	                visibility: 'hidden'
        	            },
        	            labelStyle: {
        	                visibility: 'hidden'
        	            }
        	        }
        	    });
        	});
         
        });
    </script>
</th:block>
<div layout:fragment="content">
	<div class="container mypage">
		<div class="row">
		    <div class="col-md-2 side-nav">
		        <ul class="nav nav-tabs flex-column">
		            <li class="nav-tabs-haed">
		               	 검색
		            </li>
		            <li class="nav-tabs-haed mr">
		                <a>
		                    	품목
		                    <span>변동률</span>
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link active" href="#goods1">
		                    	청양고추
		                    <span>+3.15%</span>
		                </a>
		
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#goods2">
		                    	마늘
		                    <span>-12.5%</span>
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#goods3">
		                   	 배추
		                    <span>+2.5%</span>
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#goods4">
		                   	 고구마
		                    <span>+3.5%</span>
		                </a>
		            </li>
		
		        </ul>
		    </div>
		    <div class="col-md-10">
		        <div class="mypage-content tab-content">
		            <!-- 청양고추 -->
		            <div id="goods1" class="tab-pane active">
		                <h2>청양고추</h2>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-5">
		                            <!-- 가격 -->
		                            <div class="tab-goods-content">
		                                <div class="goods-title">
		                                    <h4>34,230</h4>
		                                    <span>+5.97%</span>
		                                </div>
		                                <div class="tab-goods-total-price">
		                                    <table>
		                                        <tr>
		                                            <th>거래량</th>
		                                            <td>25,718.05</td>
		                                        </tr>
		                                        <tr>
		                                            <th>거래대금</th>
		                                            <td>836.6백만</td>
		                                        </tr>
		                                        <tr>
		                                            <th>체결강도</th>
		                                            <td>100.01%</td>
		                                        </tr>
		                                    </table>
		                                    <table>
		                                        <tr>
		                                            <th>24시간 고가</th>
		                                            <td>35,110</td>
		                                        </tr>
		                                        <tr>
		                                            <th>24시간 저가</th>
		                                            <td>31,030</td>
		                                        </tr>
		                                        <tr>
		                                            <th>전일종가</th>
		                                            <td>32,450</td>
		                                        </tr>
		                                    </table>
		                                </div>
		                            </div>
		                            <div id="dailychart" class="daily-chart scrollbar-primary">
		                                
		                            </div>
		                            <!-- 체결내역 -->
		                            <div class="tab-goods-total-sign">
		                                <span class="table-title">체결내역</span>
		                                <div class="total-sign-box scrollbar scrollbar-primary">
		                                    <table>
		                                        <thead>
		                                            <tr>
		                                                <th>시간</th>
		                                                <th>가격</th>
		                                                <th>수량</th>
		                                            </tr>
		                                        </thead>
		                                        <tbody>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                        </tbody>
		                                        <tfoot>
		                                            <tr>
		                                                <td></td>
		                                                <td></td>
		                                                <td></td>
		                                            </tr>
		                                        </tfoot>
		                                    </table>
		                                </div>
		                                  
		                            </div>
		                        </div>
		                        
		                        <div class="col-md-7">
		                            <!--주문-->
		                            <form th:action="@{/order/buy}" method="post">
		                            <div class="gift-order">
		                                <h5>매수주문</h5>
		                                <table>
                                            <tr>
                                                <th>주문형태</th>
                                                <td>
                                                    <select class="order-tab-btn" id="tab-select" name="orderBuyMethod">
                                                        <option value="#시장가">시장가 주문</option>
                                                        <option value="#지정가">지정가 주문</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                            	<!-- <th>품목명</th> -->
                                            	<td><input type="hidden" class="form-control" value="청양고추" name="fkItemDetailOrderBuy"></td>
                                            </tr>
                                            <!--시장가-->
                                            <tbody id="시장가" class="tab-contents">
                                                <tr>
                                                    <th>총주문금액</th>
                                                    <td><input type="text" class="form-control" placeholder="원하시는 매수 금액을 입력하세요." name=""></td>
                                                </tr>
                                                <tr>
                                                	<th>종가</th>
                                            		<td><input type="text" class="form-control" th:value="${closingPrice}" name="closingPrice"></td>
                                            	</tr>
                                                <tr>
                                                    <th>현재수량 /최대수량</th>
                                                    <td><input type="text" class="form-control" placeholder="원하시는 수량을 입력하세요." name="orderBuyAmount"></td>
                                                </tr>
                                               <!--  <tr>
                                                    <th>예약기준가격</th>
                                                    <td><input type="text" class="form-control" placeholder="시장가 매수 예약 가격을 입력하세요."></td>
                                                </tr> -->
                                                <tr>
                                                    <td colspan="2"><hr></td>
                                                </tr>
                                                <tr>
                                                    <th>개시증거금</th>
                                                    <td>000</td>
                                                </tr>
                                                <tr>
                                                    <th>수수료</th>
                                                    <td>000</td>
                                                </tr>
                                            </tbody>
                                            <!--지정가-->
                                            <tbody id="지정가" class="tab-contents" style="display: none;">
                                                <tr>
                                                    <th>총주문금액</th>
                                                    <td><input type="text" class="form-control" placeholder="원하시는 매수 금액을 입력하세요."></td>
                                                </tr>
                                                <tr>
                                                    <th>현재수량 /최대수량</th>
                                                    <td><input type="text" class="form-control" placeholder="원하시는 수량을 입력하세요."></td>
                                                </tr>
                                                <tr>
                                                    <th>예약기준가격</th>
                                                    <td><input type="text" class="form-control" placeholder="예약주문이 실행되는 기준 가격입니다."></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><hr></td>
                                                </tr>
                                                <tr>
                                                    <th>예상매수가격</th>
                                                    <td>000</td>
                                                </tr>
                                                <tr>
                                                    <th>수수료</th>
                                                    <td>000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                       
		                                <div class="btn-box">
		                                    <button type="submit" class="btn">예약주문 승인</button>
		                                    <p>예약기준가격에 요청하신 금액만큼 비트코인 매수 주문이 시장가로 등록됩니다.</p>
		                                </div>
		                            </div>
		                            </form>
		                        </div>
		                    </div> 
		                    <!-- 주문 and 체결 리스트-->
		                    <div class="row">
		                        <div class="col-md-12">
		                            <table class="order-list gift-table table">
		                                <thead>
		                                    <tr>
		                                        <th>예약주문시간</th>
		                                        <th>구분</th>
		                                        <th>예약주문수량</th>
		                                        <th>예약기준가격</th>
		                                        <th>예약지정가격</th>
		                                        <th>취소</th>
		                                    </tr>
		                                </thead>
		                                <tbody>
		                                    <tr>
		                                        <td>5시</td>
		                                        <td>시장가</td>
		                                        <td>5</td>
		                                        <td>20,000</td>
		                                        <td>15,000</td>
		                                        <td><a type="btn" class="btn">취소</a></td>
		                                    </tr>
		                                </tbody>
		                                <tfoot>
		                                    <tr></tr>
		                                </tfoot>
		                            </table>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- 마늘 -->
		            <div id="goods2" class="tab-pane">
		                <h2>마늘</h2>
		            </div>
		            <!-- 배추 -->
		            <div id="goods3" class="tab-pane">
		                <h2>배추</h2>
		            </div>
		            <!-- 고구마 -->
		                <div id="goods4" class="tab-pane">
		                    <h2>고구마</h2>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
</div>

</html>