<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
	<style>
		.tab-content{
			background-color: #fff;
		}
		.warning{
			color:#ff0000;
		}
		.btn {
			border: none;
		}
		.side-nav .flex-column{
			padding: 0px 0px 7px 0px ;
		}
		ul.pagination li.page-item a {
			border: 1px solid #ccc !important;
			border-radius: 0 !important;
			padding: 5px 10px;
			font-size: 8pt;
		}
		ul.pagination li.page-item.active a {
			background-color: #4556b8;
			border: 1px solid #4556b8 !important;
		}
	</style>
</th:block>
<th:block layout:fragment="script">
	<!-- Highcharts -->
	<script type="text/javascript" src="/webjars/highcharts/6.2.0/highstock.js"></script>
	<script type="text/javascript">
        $(document).ready(function(){
        	/* 품목 선택 */
           	$(".nav-tabs a").click(function(e){
                $(this).tab('show');
                e.preventDefault();
            });
           	
           	/* 지정가, 시장가 선택 */
	        $("#tab-select").change(function() {
	            var target = $(this).val();
	            $('.tab-contents').hide();
	            $(target).show();
	        });
           	
            /* 수량에 따른 총주문금액, 개시증거금, 수수료 계산 */
           
            $('.marketAmount').on('keyup', function(e){
            	$('.marketTotalPrice').empty();
            	$('.marketInitialMargin').empty();
            	$('.marketCharge').empty();
            	// toLocaleString() : 자릿수에 콤마 
            	// 시장가의 총 주문금액은 수량과 종가를 곱한다. 
            	var marketTotalPrice = ($('.marketClosing').val()*$('.marketAmount').val()).toLocaleString();
            	$('.marketTotalPrice').append(marketTotalPrice+"원");
            	// 개시증거금은 총 주문금액의 10%이다. 
            	var marketInitialMargin = ($('.marketClosing').val()*$('.marketAmount').val()*0.1).toLocaleString();
            	$('.marketInitialMargin').append(marketInitialMargin+"원");
            	// 수수료는 총 주문금액의 1%이다. 
            	var marketCharge = ($('.marketClosing').val()*$('.marketAmount').val()*0.01).toLocaleString();
            	$('.marketCharge').append(marketCharge+"원");
            });
          	$('.selectAmount').on('keyup', function(e){
        		$('.selectTotalPrice').empty();
           		$('.selectInitialMargin').empty();
                $('.selectCharge').empty();
             	// 지정가의 총 주문금액은 수량과 지정가를 곱한다. 
                var selectTotalPrice = ($('.selectPrice').val()*$('.selectAmount').val()).toLocaleString();
                $('.selectTotalPrice').append(selectTotalPrice+"원");
             	// 개시증거금은 총 주문금액의 10%이다. 
                var selectInitialMargin = ($('.selectPrice').val()*$('.selectAmount').val()*0.1).toLocaleString();
                $('.selectInitialMargin').append(selectInitialMargin+"원");
             	// 수수료는 총 주문금액의 1%이다.
                var selectCharge = ($('.selectPrice').val()*$('.selectAmount').val()*0.01).toLocaleString();
                $('.selectCharge').append(selectCharge+"원");	
          	});
          	
          	/* 매수방법에 따라 분기(시장가일때는 지정가 input 막고, 지정가일때는 시장가 input 막는다.) */
          	$('#orderBuyBtn').click(function() {
        		console.log($('#tab-select').val() + "('#tab-select').val()");
        		if($('#tab-select').val() == '#시장가'){
        			$('#selectPrice').attr('disabled', true);
        			$('#selectAmount').attr('disabled', true);
        			
        			/* 시장가 유효성 검사 */
        			if($('#marketAmount').val()==''){
        				console.log('수량이 공백일때');
        				$('#marketHelper').text('수량을 입력해주세요.');
        				
        			}else if(isNaN($('#marketAmount').val())==true){
        				console.log('수량이 숫자가 아닐때');
        				$('#marketHelper').text('수량을 숫자만 입력해주세요.');
        				
        			}else{
        				console.log('제출');
        				$('#orderBuyForm').submit();
        			}
        		} else if($('#tab-select').val() == '#지정가') {
        			$('#marketPrice').attr('disabled', true);
        			$('#marketAmount').attr('disabled', true);
        			
        			/* 지정가 유효성 검사 */
        			if($('#selectAmount').val()=='' || $('#selectPrice').val()==''){
        				console.log('수량과 지정가가 공백일때');
        				$('#selectHelper').text('수량과 지정가를 모두 입력해주세요.');
        				
        			}else if(isNaN($('#selectAmount').val())==true || isNaN($('#selectPrice').val())==true){
        				console.log('수량과 지정가가 숫자가 아닐때');
        				$('#selectHelper').text('수량과 지정가를 숫자만 입력해주세요.');
        				
        			}else{
        				console.log('제출');
        				$('#orderBuyForm').submit();
        			}
        		}
        	});
          	
	        /* highchart */
	        $.getJSON('/ajax/get/order/cahrt/allPrice', function (data) {
				   // Create the chart
				   /* tooltip 천단위 , 입력 */
					Highcharts.setOptions({
						lang: {
						thousandsSep: ','
						}
					});
	        	   Highcharts.stockChart('dailychart', {
	        	       rangeSelector: {
	        	           selected: 1
	        	       },
	        	       navigator: {
	        	           enabled: false
	        	       },
	        	       series: [{
	        	           name: '청양고추',
						   data: data
					   }],
					   /* 버튼 외 지정범위 보이는 옵션 숨김 */
	        	       rangeSelector:{
	        	        inputEnabled: false,
	        	        enabled: false,
	        	           allButtonsEnabled: true,
	        	           buttonTheme: {
	        	               visibility: 'hidden'
	        	           },
	        	           labelStyle: {
	        	               visibility: 'hidden'
	        	           }
	        	       }
	        	    });
	        });
         
        });
    </script>
</th:block>
<div layout:fragment="content">
	<div class="container mypage">
		<div class="row">
		    <div class="col-md-2 side-nav">
		        <ul class="nav nav-tabs flex-column">
		            <li class="nav-tabs-haed">
		               	 검색
		            </li>
		            <li class="nav-tabs-haed mr">
		                <a>
		                    	품목
		                    <span>변동률</span>
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link active" href="#goods1" onclick="tabs()">
		                    	청양고추
		                    <span>+3.15%</span>
		                </a>
		
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#goods2" onclick="tabs()">
		                    	마늘
		                    <span>-12.5%</span>
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#goods3" onclick="tabs()">
		                   	 배추
		                    <span>+2.5%</span>
		                </a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#goods4" onclick="tabs()">
		                   	 고구마
		                    <span>+3.5%</span>
		                </a>
		            </li>
		
		        </ul>
		    </div>
		    <div class="col-md-10">
		        <div class="mypage-content tab-content">
		            <!-- 청양고추 -->
		            <div id="goods1" class="tab-pane active">
		                <h2>청양고추</h2>
		                <div class="container">
		                    <div class="row">
		                        <div class="col-md-5">
		                            <!-- 가격 -->
		                            <div class="tab-goods-content">
		                                <div class="goods-title">
		                                    <h4>34,230</h4>
		                                    <span>+5.97%</span>
		                                </div>
		                                <div class="tab-goods-total-price">
		                                    <table>
		                                        <tr>
		                                            <th>거래량</th>
		                                            <td>25,718.05</td>
		                                        </tr>
		                                        <tr>
		                                            <th>거래대금</th>
		                                            <td>836.6백만</td>
		                                        </tr>
		                                        <tr>
		                                            <th>체결강도</th>
		                                            <td>100.01%</td>
		                                        </tr>
		                                    </table>
		                                    <table>
		                                        <tr>
		                                            <th>24시간 고가</th>
		                                            <td>35,110</td>
		                                        </tr>
		                                        <tr>
		                                            <th>24시간 저가</th>
		                                            <td>31,030</td>
		                                        </tr>
		                                        <tr>
		                                            <th>전일종가</th>
		                                            <td>32,450</td>
		                                        </tr>
		                                    </table>
		                                </div>
		                            </div>
		                            <div id="dailychart" class="daily-chart scrollbar-primary">
		                                
		                            </div>
		                            <!-- 체결내역 -->
		                            <div class="tab-goods-total-sign">
		                                <span class="table-title">체결내역</span>
		                                <div class="total-sign-box scrollbar scrollbar-primary">
		                                    <table>
		                                        <thead>
		                                            <tr>
		                                                <th>시간</th>
		                                                <th>가격</th>
		                                                <th>수량</th>
		                                            </tr>
		                                        </thead>
		                                        <tbody>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                            <tr>
		                                                <td>11:08:06</td>
		                                                <td>34,220</td>
		                                                <td>3.4878</td>
		                                            </tr>
		                                        </tbody>
		                                        <tfoot>
		                                            <tr>
		                                                <td></td>
		                                                <td></td>
		                                                <td></td>
		                                            </tr>
		                                        </tfoot>
		                                    </table>
		                                </div>
		                                  
		                            </div>
		                        </div>
		                        
		                        <div class="col-md-7">
		                            <!--주문-->
		                            <form th:action="@{/consumer/add/order/re}" method="post" id="orderBuyForm">
		                            <div class="gift-order">
		                                <h5>매수주문</h5>
		                                <table>
                                            <tr>
                                                <th>주문형태</th>
                                                <td>
                                                    <select class="order-tab-btn" id="tab-select" name="orderBuyMethod">
                                                        <option value="#시장가">시장가 주문</option>
                                                        <option value="#지정가">지정가 주문</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                            	<!-- <th>품목명</th> -->
                                            	<td><input type="hidden" class="form-control" value="청양고추" name="fkItemDetailOrderBuy"></td>
                                            </tr>
                                            <!--시장가-->
                                            <tbody id="시장가" class="tab-contents">
                                                <tr>
                                                    <th>총주문금액</th>
                                                    <td><label class="marketTotalPrice"></label></td>
                                                </tr>
                                                <tr>
                                                	<th>종가</th>
                                            		<td><input type="text" class="form-control marketClosing" th:value="${closingPrice}" name="orderBuyPerPrice" id="marketPrice" readonly></td>
                                            	</tr>
                                                <tr>
                                                    <th>수량</th>
                                                    <td><input type="text" class="form-control marketAmount" name="orderBuyAmount" id="marketAmount" placeholder="수량을 입력해주세요."></td>
                                                </tr>
                                               	<tr>
                                                    <th></th>
                                                    <td><span id="marketHelper" class="warning"></span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><hr></td>
                                                </tr>
                                                <tr>
                                                    <th>개시증거금</th>
                                                    <td><label class="marketInitialMargin"></label></td>
                                                </tr>
                                                <tr>
                                                    <th>수수료</th>
                                                    <td><label class="marketCharge"></label></td>
                                                </tr>
                                            </tbody>
                                           	
                                            <!--지정가-->
                                            <tbody id="지정가" class="tab-contents" style="display: none;">
                                                <tr>
                                                    <th>총주문금액</th> 
                                                    <td><label class="selectTotalPrice"></label></td>
                                                </tr>
                                                <tr>
                                                    <th>지정가격</th>
                                                    <td><input type="text" class="form-control selectPrice" placeholder="예약주문이 실행되는 기준 가격입니다." name="orderBuyPerPrice" id="selectPrice"></td>
                                                </tr>
                                                <tr>
                                                    <th>수량</th>
                                                    <td><input type="text" class="form-control selectAmount" name="orderBuyAmount" id="selectAmount" placeholder="수량을 입력해주세요."></td>
                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <td><span id="selectHelper" class="warning"></span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2"><hr></td>
                                                </tr>
                                                <tr>
                                                    <th>개시증거금</th>
                                                    <td><label class="selectInitialMargin"></label></td>
                                                </tr>
                                                <tr>
                                                    <th>수수료</th>
                                                    <td><label class="selectCharge"></label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                       
		                                <div class="btn-box">
		                                    <button type="button" class="btn" id="orderBuyBtn">예약주문 승인</button>
		                                    <p>예약기준가격에 요청하신 금액만큼 품목 매수 주문이 시장가로 등록됩니다.</p>
		                                </div>
		                            </div>
		                            </form>
		                            
		                        </div>
		                    </div> 
		                    <!-- 주문 and 체결 리스트-->
		                    <div class="row">
		                        <div class="col-md-12">
		                            <table class="order-list gift-table table">
		                                <thead>
		                                    <tr>
		                                        <th>예약주문no</th>
		                                        <th>주문시간</th>
		                                        <th>주문방법</th>
		                                        <th>예약기준가격</th>
		                                        <th>수량</th>
		                                        <th>취소</th>
		                                    </tr>
		                                </thead>
		                                <tbody>
											<th:block th:if="${orderBuyList} != null" >
												<tr th:each="list : ${orderBuyList}">
													<td th:text="${list.orderBuyPk}"></td>
													<td th:text="${list.orderBuyFinalPayTime}"></td>
													<td th:text="${list.orderBuyMethod}"></td>
													<td th:text="${list.orderBuyPerPrice}">20,000</td>
													<td th:text="${list.orderBuyAmount}">15,000</td>
													<td><a type="btn" class="btn">취소</a></td>
												</tr>
											</th:block>
		                                </tbody>
		                                <tfoot>
		                                    <tr></tr>
		                                </tfoot>
									</table>
									<ul class="pagination justify-content-center">
										<li th:if="${pageMaker.prev} == true" class="page-item">
											<a class="page-link" th:href="@{/consumer/add/order(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
										</li>
										<li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
											<a class="page-link" th:href="@{/consumer/add/order(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
										</li> 
										<li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
											<a class="page-link" th:href="@{//consumer/add/order(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
										</li>
									</ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <!-- 마늘 -->
		            <div id="goods2" class="tab-pane">
		                <h2>마늘</h2>
		            </div>
		            <!-- 배추 -->
		            <div id="goods3" class="tab-pane">
		                <h2>배추</h2>
		            </div>
		            <!-- 고구마 -->
		                <div id="goods4" class="tab-pane">
		                    <h2>고구마</h2>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
</div>

</html>