<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<div layout:fragment="content">
     <div class="main-login">
         <div class="login-wrap">
             <div class="login-html">
                 <input id="tab-1" type="radio" name="tab" class="sign-in-consumer" checked>
                 <label for="tab-1" class="tab">구매자</label>

                 <input id="tab-2" type="radio" name="tab" class="sign-in-seller">
                 <label for="tab-2" class="tab">판매자</label>

                 <div class="login-form">
                     <div class="sign-in-consumer-htm">
                         <form th:action="@{/login/login}" method="post">
                             <div class="group">
                                 <input id="totalId" type="text" class="input" name="totalId">
                             </div>
                             <div class="group">
                                 <input id="totalPassword" type="password" class="input" data-type="password" name="totalPassword">
                             </div>
                             <div class="group">
                                 <input id="consumerCheck" type="checkbox" class="check" checked>
                                 <label for="consumerCheck"><span class="icon"></span> 아이디 저장</label>
                             </div>
                             <div class="group">
                                 <input type="submit" class="button" value="LOGIN">
                             </div>
                         </form>
                         <div class="foot-lnk">
                             <a href="">비밀번호를 잊으셨나요?</a>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </div>
</div>
</body>
</html>