<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<div layout:fragment="content">
     <div class="main-login">
         <div class="login-wrap">
             <div class="login-html">
                 <div class="login-form">
                     <h1>LOGIN</h1>
                     <form th:action="@{/login/login}" method="post">
                         <div class="group">
                             <input id="totalId" value="test01" type="text" class="input" name="totalId">
                         </div>
                         <div class="group">
                             <input id="totalPassword" value="testtest01#" type="password" class="input" data-type="password" name="totalPassword">
                         </div>
                         <div class="group">
                             <input id="consumerCheck" type="checkbox" class="check" checked>
                             <label for="consumerCheck"><span class="icon"></span> 아이디 저장</label>
                         </div>
                         <div class="group">
                             <input type="submit" class="button" value="로그인">
                         </div>
                     </form>
                     <div class="foot-lnk">
                         <a href="">비밀번호를 잊으셨나요?</a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
</body>
</html>