<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="main-header" th:fragment="headerFragment">
	<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <div class="nav-width">
            <a class="navbar-brand" th:href="@{/}"><img class="logo-img" src="/imgs/giftFuturesLogo-03.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-ul" id="collapsibleNavbar">
                <ul class="navbar-nav nav-futures">
                    <li class="nav-item">
                        <a class="nav-link" href="#">거래소</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">주문매수</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">부가서비스</a>
                    </li>
                </ul>
               	<ul th:if="${sessionLogin} == null" class="navbar-nav nav-memeber">
	            	<li class="nav-item">
	                    <a class="nav-link" th:href="@{/login/login}" th:text="로그인"></a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/singup/choice}" th:text="회원가입"></a>
	                </li>
          	 	</ul>
              	<ul th:if="${sessionLogin} != null" class="navbar-nav nav-memeber">
              		<th:block th:switch="${sessionLogin.sessionRight}">
	              		<th:block th:case="'구매자'">
	           			<li class="nav-item nav-member-dropdown">
		           		<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown">지갑관리<i class="material-icons">keyboard_arrow_down</i></a>
		                      	<ul class="dropdown-menu dropdown-menu-money" role="menu">
		                           <li><a href="#">자산현황</a></li>
		                           <li><a href="#">입금</a></li>
		                           <li><a href="#">출금</a></li>
		                           <li><a href="#">송금</a></li>
		                           <li><a href="#">거래내역</a></li>
		                      	</ul>
		           		</li>
			            <li class="nav-item nav-member-dropdown">
			            	<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown"><span th:text="${sessionLogin.sessionId}"></span><i class="material-icons">keyboard_arrow_down</i></a>
		                       	<ul class="dropdown-menu dropdown-menu-id" role="menu">
		                            <li><a href="/consumer/mypage">계정관리</a></li>
		                            <li><a href="/logout" th:href="@{/logout}">logout</a></li>
		                        </ul>
			            </li>
			            </th:block>
			            <th:block th:case="'판매자'">
				            <li class="nav-item nav-member-dropdown">
			           		<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown">지갑관리<i class="material-icons">keyboard_arrow_down</i></a>
			                      	<ul class="dropdown-menu dropdown-menu-money" role="menu">
			                           <li><a href="#">자산현황</a></li>
			                           <li><a href="#">거래내역</a></li>
			                      	</ul>
			           		</li>
				            <li class="nav-item nav-member-dropdown">
				            	<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown"><span th:text="${sessionLogin.sessionId}"></span><i class="material-icons">keyboard_arrow_down</i></a>
			                       	<ul class="dropdown-menu dropdown-menu-id" role="menu">
			                            <li><a href="#">계정관리</a></li>
			                            <li><a href="/logout" th:href="@{/logout}">logout</a></li>
			                        </ul>
				            </li>
				         </th:block>
				         <th:block th:case="'관리자'">
				            <li class="nav-item nav-member-dropdown">
			           		<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown">전체관리<i class="material-icons">keyboard_arrow_down</i></a>
			                      	<ul class="dropdown-menu dropdown-menu-money" role="menu">
			                           <li><a href="#">회원관리</a></li>
			                           <li><a href="#">주문관리</a></li>
			                           <li><a href="#">체결관리</a></li>
			                           <li><a href="#">반대매매관리</a></li>
			                      	</ul>
			           		</li>
				            <li class="nav-item nav-member-dropdown">
				            	<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown"><span th:text="${sessionLogin.sessionId}"></span><i class="material-icons">keyboard_arrow_down</i></a>
			                       	<ul class="dropdown-menu dropdown-menu-id" role="menu">
			                            <li><a href="#">계정관리</a></li>
			                            <li><a href="/logout" th:href="@{/logout}">logout</a></li>
			                        </ul>
				            </li>
				          </th:block>
				          <th:block th:case="'최고관리자'">
				            <li class="nav-item nav-member-dropdown">
			           		<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown">전체관리<i class="material-icons">keyboard_arrow_down</i></a>
			                      	<ul class="dropdown-menu dropdown-menu-money" role="menu">
			                           <li><a th:href="@{/topAdmin/listAdmin}">관리자관리</a></li>
			                           <li><a href="#">수익관리</a></li>
			                      	</ul>
			           		</li>
				            <li class="nav-item nav-member-dropdown">
				            	<a class="nav-link dropdown-toggle" role="button" href="#" data-toggle="dropdown"><span th:text="${sessionLogin.sessionId}"></span><i class="material-icons">keyboard_arrow_down</i></a>
			                       	<ul class="dropdown-menu dropdown-menu-id" role="menu">
			                            <li><a href="#">계정관리</a></li>
			                            <li><a href="/logout" th:href="@{/logout}">logout</a></li>
			                        </ul>
				            </li>
				          </th:block>
		            </th:block>
		        </ul>
		       
             </div>
        </div>
    </nav>
</header>
</html>