<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
<style>
	.table tr td {
		font-size : 9pt;
		padding : 3px;
		margin : 0px;
	}	
</style>
</th:block>
<div layout:fragment="content" class="main-box container">
	<table class="table" border="1">
		<tr>
			<td>판매자아이디</td>
			<td>판매자이름</td>
			<td>판매자이메일</td>
			<td>판매자주민등록번호</td>
			<td>판매자가입날짜</td>
			<td>판매자주소</td>
			<td>상호이름</td>
			<td>판매자전화번호</td>
			<td>판매자권한</td>
			<td>승인관리자</td>
			<td>승인날짜</td>
			<td>상세</td>
		</tr>
		<tr th:each="list : ${sellerList}">
			<td th:text="${list.sellerIdPk}"></td>
			<td th:text="${list.sellerName}"></td>
			<td th:text="${list.sellerEmail}"></td>
			<td th:text="${list.sellerJuminNo}"></td>
			<td th:text="${list.sellerSignUpDate}"></td>
			<td th:text="${list.sellerAddress}"></td>
			<td th:text="${list.sellerCorporateName}"></td>
			<td th:text="${list.sellerPhone}"></td>
			<td th:text="${list.sellerRight}"></td>
			<td th:text="${list.sellerAdmitAdmin}"></td>
			<td th:text="${list.sellerAdmitDate}"></td>
			<td><a th:text="상세" th:href="@{/getSeller(sellerIdPk=${list.sellerIdPk})}"></a></td>
		</tr>
	</table>
	<ul class="pagination justify-content-center">
	 	 <li th:if="${pageMaker.prev} == true" class="page-item">
             	<a class="page-link" th:href="@{/listSeller(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
             </li>
             
             <li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
               <a class="page-link" th:href="@{/listSeller(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
             </li>
               
             <li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
             	<a class="page-link" th:href="@{/listSeller(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
             </li>
	</ul>
</div>
</body>
</html>