<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/defaultLayout}">
<th:block layout:fragment="css">
<style>
	.table tr td {
		font-size : 9pt;
		padding : 3px;
		margin : 0px;
	}	
</style>
</th:block>
<div layout:fragment="content" class="main-box container">
	<h3 align="center">구매자 목록</h3>
	<table class="table">
		<tr>
			<td>구매자 아이디</td>
			<td>구매자이름</td>
			<td>구매자이메일</td>
			<td>구매자주민등록번호</td>
			<td>구매자전화번호</td>
			<td>구매자가입날짜</td>
			<td>구매자상태</td>
			<td>구매자승인여부</td>
			<td>승인관리자</td>
			<td>구매자승인날짜</td>
			<td>상세</td>
		</tr>
		<tr th:each="list : ${consumerList}">
			<td th:text="${list.consumerIdPk}"></td>
			<td th:text="${list.consumerName}"></td>
			<td th:text="${list.consumerEmail}"></td>
			<td th:text="${list.consumerJuminNo}"></td>
			<td th:text="${list.consumerPhone}"></td>
			<td th:text="${list.consumerSignUpDate}"></td>
			<td th:text="${list.consumerStatus}"></td>
			<td th:text="${list.consumerAdmitCheckFlag}"></td>
			<td th:text="${list.consumerAdmitAdmin}"></td>
			<td th:text="${list.consumerAdmitDate}"></td>
			<td><a th:text="상세" th:href="@{/getConsumer(consumerIdPk=${list.consumerIdPk})}"></a></td>
		</tr>
	</table>
	<ul class="pagination justify-content-center">
		<li th:if="${pageMaker.prev} == true" class="page-item">
			<a class="page-link" th:href="@{/listConsumer(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
		</li>
		<li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
			<a class="page-link" th:href="@{/listConsumer(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
		</li> 
		<li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
			<a class="page-link" th:href="@{/listConsumer(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
		</li>
	</ul>
</div>
</html>