<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gift.futurestrading.allprice.mapper.AllPriceMapper">
	
	<!-- order chart -->
	<select id="selectOrderCahrtAllPrice" resultType="map">
		SELECT 
			UNIX_TIMESTAMP(all_price_date)*1000 as allPriceDate
			, closing_price as allPriceClose
			, all_price_date
		FROM all_price
		WHERE  item_name = '청양고추'
		ORDER BY all_price_date DESC
		LIMIT 1,50
	</select>

	<!-- index chart -->
	<select id="selectIndexCahrtAllPrice" resultType="map">
		SELECT 
			UNIX_TIMESTAMP(all_price_date)*1000 as allPriceDate
			, opening_price as allPriceOpen
			, closing_price as allPriceClose
			, top_price as allPriceHigh
			, bottom_price as allPriceRow
			, all_price_date
		FROM all_price
		WHERE  item_name = '청양고추'
		ORDER BY all_price_date ASC
	</select>

	<!-- auto increment를 위한 select -->
	<select id="selectOneAutoMaxAllPrice" resultType="int">
		SELECT MAX(CAST(SUBSTRING(all_price_no_pk, 11) AS DECIMAL)) FROM all_price
	</select>
	
	<!-- sign table에서 allPrice테이블에 추가할 리스트(시가(시작가격), 종가(마지막 가격), 최고가, 최저가) select -->
	<select id="selectSignAddAllPrice" resultType="com.gift.futurestrading.allprice.vo.AllPriceVo">
			SELECT
				sign_item_name AS itemName
				,sign_per_price AS openingPrice
				,(
					SELECT sign_per_price AS signPerPrice
					FROM sign	
					WHERE
						<![CDATA[sign_date < now()]]>
					AND
						<![CDATA[sign_date > DATE_SUB(now(),INTERVAL 1 HOUR)]]>
					ORDER BY
					sign_date DESC LIMIT 1
				) AS closingPrice
			   ,MAX(sign_per_price) AS topPrice
			   ,MIN(sign_per_price) AS bottomPrice
			FROM sign	
			WHERE
				<![CDATA[sign_date < now()]]>
			AND
				<![CDATA[sign_date > DATE_SUB(now(),INTERVAL 1 HOUR)]]>
			ORDER BY
			sign_date DESC LIMIT 1
	</select>
	
	<!-- 품목별 시가,종가,최고가,최저가 테이블 insert -->
	<insert id="insertAllPrice" parameterType="com.gift.futurestrading.allprice.vo.AllPriceVo">
		INSERT INTO all_price (
			all_price_no_pk
			,item_name
			,opening_price
			,closing_price
			,top_price
			,bottom_price
			,all_price_date
			)
		VALUES(
			#{allPriceNoPk}
			,#{itemName}
			,#{openingPrice}
			,#{closingPrice}
			,#{topPrice}
			,#{bottomPrice}
			,now()
			)
	</insert>
</mapper>