@charset "UTF-8";

/*폰트적용*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Source+Sans+Pro:200,300,400,600,700,900&subset=korean');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding-top: 3rem;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans KR', sans-serif;
}

/*부트스트랩 a태그 밑줄속성 삭제*/
a:active,a:hover,a:link,a:default,a:focus,a:visited,a:empty{
    text-decoration: none !important;
    border: 0px !important;
    color: #333;
}

/* main div 기본간격 조절 a */
.main-box{
	padding: 100px 10px;
}

/* 네비게이션 */
nav.bg-dark{
    background-color: #333 !important;
}
 .nav-width {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px
}
 .logo-img {
    width: 160px;
}
 .nav-futures .nav-item {
    margin-left: 30px;
    font-weight: 00;
    font-size: 13pt;
}
 .nav-futures .nav-item a.nav-link{
    color: #ddd;
}
 .nav-futures .nav-item a.nav-link:hover{
    color: #fff;
}
 .nav-memeber {
    font-size: 10pt;
}
 .nav-memeber li.nav-item {
    float: right;
    font-size: 10pt;
}
 .nav-memeber li.nav-item i {
    font-size: 10pt;
}
.nav-memeber li.nav-item .dropdown-toggle{
    margin-left: 20px;  
    color: #ddd;
    padding: 12px;
}
 .nav-memeber li.nav-item .dropdown-toggle::after{
    display: none;
}
 .navbar-dark .navbar-nav .active>.dropdown-toggle
, .navbar-dark .navbar-nav .dropdown-toggle.active
, .navbar-dark .navbar-nav .dropdown-toggle.show
, .navbar-dark .navbar-nav .show>.dropdown-toggle{
    color: #ddd;
}
 .nav-memeber li.nav-member-dropdown ul.dropdown-menu{
    position: absolute;
    min-width: 120px;
    top: 55px;
    right: auto;
    left: auto;
    padding: 15px 0px 20px 20px;
    border-radius: 5;
    font-size: 11pt;
    line-height: 2.5;
    background-color: #fff;
}
 .nav-memeber li.nav-member-dropdown ul.dropdown-menu li a {
    color: #333;
    font-size: 10pt;
    font-weight: 300;
}
 .nav-memeber li.nav-member-dropdown ul.dropdown-menu li:hover a{
    color: #000;
    font-weight: 400;
}
 .nav-memeber li.nav-member-dropdown ul.dropdown-menu-money{
    margin-left: -28px;
}
 .nav-memeber li.nav-member-dropdown ul.dropdown-menu-id{
    margin-left: 0px;
}
 .nav-memeber li.nav-member-dropdown:hover a.nav-link{
    transition: all 0.4s ease-out;
    color: #22bdd2;
}
 .nav-memeber li.nav-member-dropdown:hover i{
    transition: all 0.4s ease-out;
    transform: rotate(180deg);
    color: #22bdd2;
}
 .nav-ul {
    justify-content: space-between;
}
 @media (min-width: 767px){
    .nav-memeber li.nav-member-dropdown ul.dropdown-menu{
        display: none;
    }
    .nav-memeber li.nav-member-dropdown:hover ul.dropdown-menu{
        display: block;
    }
}
 @media (max-width: 992px){
    .nav-futures .nav-item {
        margin-left: 20px;
    }
    .nav-memeber li.nav-item .dropdown-toggle{
        padding: 12px 10px;
    }
}
 @media only screen and (max-width: 767px) {
    .nav-ul {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nav-futures .nav-item {
        margin-left: 30px;
    }
    .nav-memeber {
        margin-top: 30px;
    }
    .nav-memeber li.nav-item {
        margin-left: 0px;
    }
    
    .nav-memeber li.nav-member-dropdown ul.dropdown-menu{
        position: relative;
        min-width: auto;
        top: 0;
        right: auto;
        left: auto;
        padding: 0px 0px 10px 20px;
        border-radius: 8;
        font-size: 11pt;
        line-height: 2.5;
        background-color: #333;
        border: none;
    }
     .nav-memeber li.nav-member-dropdown ul.dropdown-menu li a {
        color: #eee;
        font-size: 10pt;
        font-weight: 100;
    }
     .nav-memeber li.nav-member-dropdown ul.dropdown-menu li:hover a{
        color: #fff;
    }
     .nav-memeber li.nav-member-dropdown ul.dropdown-menu-money{
        margin-left: 30px;
    }
     .nav-memeber li.nav-member-dropdown ul.dropdown-menu-id{
        margin-left: 30px;
    }
 }



/* 푸터 */

footer{
    width: 100%;
}

.first-footer{
    background-color: #555;
}

.first-footer-text{
    height: 60px;
    margin: 0 auto;
    text-align: center;
    color: #ddd;
    line-height: 4.3;
    font-size: 10pt;
}

.first-footer-text img{
    width: 95px;
    padding: 0 5px;
}

.second-footer{
    height: 300px;
    background-color: #222;
}

.second-footer .second-footer-div{
    width: 1100px;
    margin: 0 auto;
    color: #888;
}

.second-footer .second-footer-div .second-footer-fr
,.second-footer .second-footer-div .second-footer-se{
    margin-top: 40px;
}

.second-footer .second-footer-div .second-footer-fr{
    float: left;
    width: 210px;
    margin-right: 20px;
    font-size: 8pt;
    word-break: keep-all;
}

.second-footer .second-footer-div .second-footer-fr img{
    width: 120px;
    margin-bottom: 20px
}

.second-footer .second-footer-div .second-footer-fr .team-name{
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 3px;
}
.second-footer .second-footer-div .footer-company {
    float: left;
    margin-left: 40px;
}

.second-footer .second-footer-div .footer-company a
,.second-footer .second-footer-div .footer-company a:hover{
    color: #888;
    font-size: 8pt;
}

.second-footer .second-footer-div .second-footer-se{
    display: inline-block;
    float: right;
    margin-left: 60px;
}

.second-footer .second-footer-div .second-footer-se .footer-company-title{
    font-size: 10pt;
    font-weight: 600;
}

.second-footer .second-footer-div .second-footer-se .footer-company-content{
    list-style: none;
    padding-left: 0px;
    font-size: 9pt;
    line-height: 2.5;
}

@media (max-width: 1000px){
    .second-footer .second-footer-div{
        width: 1000px;
        margin: 0 auto;
        color: #888;
    }
    .second-footer .second-footer-div{
        margin: 0 auto;
        color: #888;
    }
    .second-footer .second-footer-div .second-footer-se{
        margin-left: 20px;
    }    
}

@media (max-width: 768px){
    .second-footer{
        height: 550px;
        background-color: #222;
    }
    .second-footer .second-footer-div{
        width: 100%;
    }
    .second-footer .second-footer-div .second-footer-fr{
        clear: both;
        width: 100%;
        margin-right: 20px;
        font-size: 8pt;
    }
    .second-footer .second-footer-div .second-footer-se{
        display: block;
        float: left;
        margin-left: -20px;
        margin-right: 0px;
    }
    
    .second-footer .second-footer-div .footer-company {
        float: left;
        margin-left: 20px;
    }

    .second-footer .second-footer-div .second-footer-se .footer-company-title{
        font-size: 10pt;
        font-weight: 600;
    }

    .second-footer .second-footer-div .second-footer-se .footer-company-content{
        list-style: none;
        padding-left: 0px;
        font-size: 9pt;
        line-height: 2.5;
    }
}

@media (max-width: 576px){
    
    .second-footer{
        height: 550px;
        background-color: #222;
    }
    .second-footer .second-footer-div{
        width: 100%;
    }
    .second-footer .second-footer-div .second-footer-fr{
        clear: both;
        width: 100%;
        margin-right: 20px;
        font-size: 8pt;
    }
    
    .second-footer .second-footer-div .second-footer-se{
        display: block;
        clear: both;
        margin-left: -20px;
        margin-right: 0px;
    }
    
    .second-footer .second-footer-div .footer-company {
        float: left;
        margin-left: 20px;
    }

    .second-footer .second-footer-div .second-footer-se .footer-company-title{
        font-size: 10pt;
        font-weight: 600;
    }

    .second-footer .second-footer-div .second-footer-se .footer-company-content{
        list-style: none;
        padding-left: 0px;
        font-size: 9pt;
        line-height: 2.5;
    }
}

/****************************************************/

/* 메인화면 */

/* 슬라이드 */

.slide {
    height: 400px;
    background-color: #333;
}

.slide-item-div {
    display: flex;
    height: 400px;
    align-items: center;
}

.slide-text {
    position: absolute;
    align-items: center;
    color: #fff;
    text-align: center;
    margin-top: -50px;
    top: 50%;
    bottom: 50%;
    left: 0px;
    right: 0px;
}

.slide-text img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.slide-text h1 {
    padding-top: 10px;
    font-size: 17pt;
    color: #eee;
}

@media only screen and (min-width: 1600px) {
    .carousel-control-next {
        margin-right: 12%;
    }
    .carousel-control-prev {
        margin-left: 12%;
    }
}

/* 슬라이드 img */

.slide-img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .slide-img {
        height: 100%;
        width: auto;
    }
}

/* 슬라이드 버튼 */

.carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

/* 탭 */

.main-tab {
    background-color: #ddd;
    margin: 0;
}

/* 탭 nav */
.main-tab .main-tab-nav {
    padding-top: 2rem;
    max-width: 100%;
    background-color: #ccc;
}

.main-tab .main-tab-nav .nav-item {
    width: 28%;
    height: 8rem;
    margin-right: 2%;
    margin-left: 2%;
    
}

.main-tab .main-tab-nav .nav-tabs .nav-link{
    height: 8rem;
    background-color: #eee;
    color: #333;
}

.main-tab .main-tab-nav .nav-tabs .nav-link.active
,.main-tab .main-tab-nav .nav-tabs .nav-link.hover{
    height: 8rem;
    background-color: #333;
    color: #eee;
    border: none;
}

.tab-content {
    width: 100%;
    background-color: #333;
}

a.nav-link:hover{
    color: #333;
}

.main-tab .main-tab-nav .nav-tabs .nav-link h5{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 15pt;
    font-weight: 800;
}

.main-tab .main-tab-nav .nav-tabs .nav-link span.tab-eng-name{
    float: right;
    text-align: right;
    font-size: 10pt;
    width: 80px;
    margin-left: 20px;
    margin-top: -33px;
    word-break: keep-all;
}

.main-tab .main-tab-nav .nav-tabs .nav-link p.tab-price{
    font-size: 17pt;
    font-weight: 600;
    margin-top: 27px;
    margin-bottom: 0px;
}

.main-tab .main-tab-nav .nav-tabs .nav-link p.tab-price span{
    font-size: 10pt;
}

.main-tab .main-tab-nav .nav-tabs .nav-link span.tab-per{
    background-color: #333;
    color: #eee;
    margin: 0px;
    font-size: 9pt;
    font-weight: 500;
    padding: 0px 2px;
}

.main-tab .main-tab-nav .nav-tabs .nav-link.active span.tab-per{
    background-color: #eee;
    color: #333;
    margin: 0px;
    font-size: 9pt;
    font-weight: 500;
    padding: 0px 2px;
}

.main-tab .main-tab-nav .nav-tabs .nav-link span.tab-icon img {
    float: right;
    margin-top: -10px;
}

/* 탭 content */

.main-tab .main-tab-content {
    background-color: #333;
    height: 540px;
    color: #eee;
}

.main-tab-content .container .tab-content .tab-pane h3{
    padding-top: 35px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 20pt;
}


@media (max-width: 992px){
    main .container {
        max-width: 720px;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link h5{
        margin-top: 5px;
        margin-bottom: -3px;
        font-size: 15pt;
        font-weight: 800;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link span.tab-eng-name{
        float: none;
        text-align: left;
        font-size: 4pt;
        width: auto;
        margin-left: 0px;
        margin-top: -10px;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link p.tab-price{
        font-size: 13pt;
        margin-top: 10px;
        margin-bottom: 0px;
        
    }
    main .main-tab .main-tab-nav .nav-tabs .nav-link span.tab-per{
        font-size: 6pt;
    }
    main .main-tab .main-tab-nav .nav-tabs .nav-link.active span.tab-per{
        font-size: 6pt;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link span.tab-icon img {
        display: none;
    }
}

@media (max-width: 576px){
    main .main-tab .main-tab-nav .nav-tabs .nav-link h5{
        margin-top: 5px;
        margin-bottom: -3px;
        font-size: 12pt;
        font-weight: 800;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link span.tab-eng-name{
        display: none;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link p.tab-price{
        font-size: 10pt;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 0px;
        
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link span.tab-per{
        font-size: 6pt;
        margin-top: 40px;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link.active span.tab-per{
        background-color: #eee;
        color: #333;
        margin-top: 40px;
        font-size:6pt;
        font-weight: 500;
        padding: 0px 2px;
    }
    
    main .main-tab .main-tab-nav .nav-tabs .nav-link span.tab-icon img {
        display: none;
    }
    
}

/* 차트 */

.main-chart{
    background-color: #fff;
    height: 400px;
    min-width: 310px
}

/* 로그인 폼 */
.main-login{
    height: 780px;
}
.login-wrap{
    margin:0 auto;
    width:400px;
    height:390px;
    position:relative;
}
.login-html{
    margin-top: 35%;
    width:100%;
    height:100%;
    position:absolute;
    padding:50px 70px 50px 70px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-html .sign-in-consumer,
.login-html .sign-in-seller,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}


/* login input */

.login-form{
    position:relative;
    height: 10px;
    perspective:1000px;
    transform-style:preserve-3d;
    font-size: 11pt;
    margin-top: -15px;
}

.login-form h1{
	font-size: 35pt;
	font-weight: 600;
	margin: 0;
	color : #438bc0;
	text-align: center;
}

.login-form .group input[type=text]{
    margin-top: 44px;
} 

.login-form .group input[type=password]{
    margin-top: 10px;
    margin-bottom: 13px;
}

.login-form .group input[type=submit]{
    margin-top: 20px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#333;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:6px 10px;
    border-radius:2px;
    border: 1px solid #bbb;
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#333;
    font-size:12px;
}
.login-form .group .button{
    transition: all 0.7s ease-out;
    background-image: linear-gradient(to top, #438bc0 10%, #438bc0 51%, #438bc0 90%);
    background-position: 1% 50%;
    background-size: 300% 300%;
    color: #fff;
    border: none;
}

.login-form .group .button:hover{
	cursor: pointer;
	background-position: right bottom;
    background-image: linear-gradient(to bottom, #22bdd2 0%, #545cae 51%, #438bc0 100%);
}

/* 체크박스 아이콘 */
.login-form .group label .icon{
    width:15px;
    height:15px;
    margin-right: 3px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:#ddd;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#333;
}
.login-form .group .check:checked + label .icon{
    background:#3d90e2;
}
.login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in-consumer:checked + .tab + .sign-in-seller + .tab + .login-form .sign-in-consumer-htm{
    transform:rotate(0);
}
.login-html .sign-in-seller:checked + .tab + .login-form .sign-in-seller-htm{
    transform:rotate(0);
}
.foot-lnk{
    text-align: left;
    font-size: 10pt;
    margin-top: 5px;
}

/* mypage */



.mypage{
    min-height: 800px;
    padding-bottom: 80px;
}

.mypage-nav,.mypage-content{
    margin-top: 100px;    
}

/* 마이페이지 side nav */

.mypage-nav .flex-column{
    border: 1px solid #e0e2e4;
    padding: 20px 0px 20px 0px ;
    color: #404040;
}

.mypage-nav .flex-column li a{
    font-size: 11pt;
    padding-bottom: 10px;
}

.mypage-nav .flex-column li .active{
    background-color: #438bc0;
    border-radius: 0;
    color: #fff;
}

/* 마이페이지 폼*/

.mypage-content h2{
    font-size: 14pt;
    font-weight: 300;
    color: #404040;
    border-bottom: 1px solid #e0e2e4;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.mypage-content .mypage-content-formn{
    margin: 50px 20px 50px 20px;
}
.mypage-content .mypage-content-form form .input-group{
    width: 100%;
    padding-bottom: 10px;
}
.mypage-content .mypage-content-form form .input-group .input-group-prepend{
    width: 30%;
}
.mypage-content .mypage-content-form form .input-group .input-group-prepend .input-group-text{
    width: 100%;
    background-color: #f0f0f0;
    font-size: 11pt;
    font-weight: 300;
    border: 1px solid #e0e2e4;
    border-radius: 0;
}

.mypage-content .mypage-content-form form .input-group .form-control {
    border-radius: 0;
    border: 1px solid #e0e2e4;
}

.mypage-content .mypage-content-form form button{
    border-radius: 0;
    padding: 5px 40px;
    margin-top: 20px;
    float: right;
    background-color: #f0f0f0;
    border: 1px solid #e0e2e4;
}

.mypage-content .mypage-content-form form button:hover{
    background-color: #e0e2e4;
}

/* log data */

table.log-data-table{
    font-size: 10pt;
    font-weight: 100;
    width: 100%;
    padding: 0;
    word-break: keep-all;
}

table.log-data-table th
,table.log-data-table td{
    border: 1px solid #e0e2e4; 
    padding: 10px;
    color: #404040;
}

/* member remove */
.member-remove-guide{
    width: 100%;
    margin-left: -35px;
}
.member-remove-guide ul li{
    display: inline-block;
}
.member-remove-guide ul li.nav-item{
    border: 1px solid #e0e2e4; 
    padding: 5px 20px;
    font-size: 11pt;
    border-radius: 60px;
    color: #404040;
}

.member-remove-guide ul li.active{
    border: 2px solid #438bc0;
}
.member-remove-guide ul li.active a{
    color: #438bc0;
    font-weight: 400;
}

.member-remove-guide ul li i{
    border: none;
    font-size: 10pt;
}

/* 회원탈퇴 내용 */

.member-remove-text{
    font-size: 9pt;
    margin-left: 15px;
}

.member-remove-text h4{
    font-size: 17pt;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 20px;
}
.member-remove-text h6{
    font-size: 13pt;
    font-weight: 500;
    padding-top: 15px;
}
.member-remove-text p{
    padding: 5px 0px;
}
.member-remove-text ul{
    list-style: none;
    padding: 0px;
}
.member-remove-text ul li{
    padding-bottom: 10px;
    padding-left: 15px;
}
.member-remove-text a.btn{
    font-size: 12pt;
    border-radius: 0;
    display: block;
    padding: 10px 80px;
    margin-top: 30px;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    transition: all 0.7s ease-out;
    background-image: linear-gradient(to left, #545cae 0%, #438bc0 51%, #22bdd2 100%);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: none;
}
.member-remove-text a.btn:hover{
    background-position: right center;
    background-image: linear-gradient(to left, #22bdd2 0%, #545cae 51%, #438bc0 100%);
}
.member-remove-text a.btn:active{
    background-color: #545cae;
}

/*회원탈퇴 잔액 안내*/
.member-remove-bank{
    display: none;
    font-size: 11pt;
    line-height: 2;
    color: #404040;
    text-align: center;
}
.member-remove-bank h4{
    font-size: 17pt;
    font-weight: 400;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 20px;
}
.member-remove-bank .box{
    background-color: #f0f0f0;
    padding: 25px;
    word-break: break-all;
    text-align: left;
}
.member-remove-bank .box h6{
    font-weight: 500;
    padding: 0;
}
.member-remove-bank .box ul{
    font-size: 10pt;
    list-style: none;
    padding: 0 10px;
}
.member-remove-bank a.btn{
    font-size: 12pt;
    border-radius: 0;
    display: inline-block;
    padding: 10px 40px;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 10px;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    border-radius: 2px;
    transition: all 0.7s ease-out;
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: none;
}

.member-remove-bank a.go{
    background-image: linear-gradient(to left, #22bdd2 0%, #22bdd2 51%, #22bdd2 100%);
}
.member-remove-bank a.goback{
    background-image: linear-gradient(to left, #545cae 0%, #545cae 51%, #545cae 100%);
}

.member-remove-bank a.btn:hover{
    background-position: right center;
    background-image: linear-gradient(to left, #22bdd2 0%, #545cae 51%, #438bc0 100%);
}
.member-remove-bank a.btn:active{
    background-color: #545cae;
}

/* 회원탈퇴 신청*/
.member-remove-ready{
    display: none;
}

/* 회원탈퇴 처리*/
.member-remove-complete{
    display: none;
}

/* 회원가입 전 권한 선택 페이지 */

.sign-up-choice{
    height: 780px;
    background-color: #f7f7f8;
}
.sing-check-box{
    text-align: center;
    margin: 200px auto;
    border-radius: 4px;
    width: 100%;
    height: 290px;
}
 p.sing-welcom {
    font-size: 20pt;
    font-weight: 400;
    color: #444;
}

p.sing-welcom-bottom{
    font-size: 12pt;
    font-weight: 300;
    color: #555;
    line-height: 0;
    margin-bottom: 50px;
}
p.sing-welcom img{
    width: 190px
}
.sing-btn-box{
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
    border: 1px solid #eee;
}
.sing-btn-box .btn {
    display: inline-block;
    font-size: 18pt;
    line-height: 1.3;
    letter-spacing: 1px;
    min-width: 200px;
    max-width: 400px;
    padding: 30px 100px;
    margin: 30px auto;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    transition: all 0.7s ease-out;
    background-image: linear-gradient(to top, #545cae 10%, #438bc0 51%, #438bc0 90%);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    border: none;
}
.sing-btn-box .btn:hover {
    color: #fff;
    background-position: right bottom;
    background-image: linear-gradient(to bottom, #22bdd2 0%, #545cae 51%, #438bc0 100%);
    }
